@model List<Achievement>

@{
    Layout = "~/Views/Achievements/_AchievementsLayout.cshtml";
    ViewBag.Title = "Achievements";
}

<ul>
    @foreach (var achievement in Model)
    {
        <li>
            @(string.IsNullOrEmpty(achievement.Image)
                            ? Html.Image("/Content/Photos/default.png", "Achievement image")
                            : Html.Image("/Content/Photos/" + achievement.Image, "Achievement image", new Dictionary<string, object> { { "style", "max-height: 100px; max-width: 100px;" } }))

            @achievement, Description: @achievement.Description
            <a href="/Achievements/Edit/@achievement.Id" class="btn btn-primary" role="button">Edit</a>
            <a href="/Achievements/Delete/@achievement.Id" class="btn btn-danger" role="button">Delete</a>
        </li>
    }
</ul>
@{ Html.BeginForm("Add", "Achievements", FormMethod.Get); }
<h3>Add new achievement</h3>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Title</span>
    </div>
    <input type="text" class="form-control" placeholder="Enter title" name="Title" />
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Description</span>
    </div>
    <input type="text" class="form-control" placeholder="Enter description" name="Description" />
</div>
<button type="submit" class="btn btn-primary">Add Achievement</button>
@{ Html.EndForm(); }
