@using UsersAchievements.Models

@model User

@{
    ViewBag.Title = "Edit user";
}

<h2>User</h2>

<h3>@Model</h3>

@using (Html.BeginForm("SaveChanges", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="hidden" name="Id" value="@Model.Id" />
    if (!string.IsNullOrEmpty(Model.Photo))
    {
        @: Photo: <br />
        <input type="image" src="~/Content/Photos/@Model.Photo" />
        <br />
        <input type="checkbox" name="DeletePhoto" id="DeletePhoto" /> <label for="DeletePhoto">Delete photo</label><br />
    }
    else
    {
        <input type="file" accept="image/*" name="Photo" />
    }
    @:Name: <input type="text" name="Name" value="@Model" /><br />
    @:Birthdate: <input type="date" name="Birthdate" value="@Model.Birthdate.ToString("yyyy-MM-dd")" /><br />
    <button type="submit">Save changes</button><br />
}
<a href="/Users">Back to users list</a>
