@model List<User>

@{
    Layout = "~/Views/Users/_UsersLayout.cshtml";
    ViewBag.Title = "Users";
}

<table>
    <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Birth date</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@(string.IsNullOrEmpty(user.Photo) ? Html.Image("/Content/Photos/default.png", "User photo") : Html.Image("/Content/Photos/" + user.Photo, "User photo", new Dictionary<string, object> { { "style", "max-height: 100px; max-width: 100px;" } }))</td>
            <td>@user</td>
            <td>@user.Birthdate.ToString("d")</td>
            <td>@user.Age</td>
            <td><a href="/Users/Edit/@user.Id" class="btn btn-primary" role="button">Edit</a></td>
            <td><a href="/Users/Delete/@user.Id" class="btn btn-danger">Delete</a></td>
        </tr>
    }
</table>
@{ Html.BeginForm("Add", "Users", FormMethod.Get); }
<h3>Add new user</h3>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Full name</span>
    </div>
    <input type="text" class="form-control" placeholder="Enter full name" name="Name" />
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">Birthdate</span>
    </div>
    <input type="date" class="form-control" name="Birthdate" />
</div>
<button type="submit" class="btn btn-primary">Add User</button>
@{ Html.EndForm(); }
