@using UsersAchievements.Models
@model List<User>

@{
    ViewBag.Title = "Users";
}

<h2>Users</h2>
<ul>
    @foreach (var user in Model)
    {
        <li>
            @if (string.IsNullOrEmpty(user.Photo))
            {
                <img src="~/Content/Photos/default.png" alt="User photo" />
            }
            else
            {
                <img src="~/Content/Photos/@user.Photo" alt="User photo" style="max-height: 100px; max-width: 100px;"/>
            }

            @user, Birthdate: @user.Birthdate.ToString("d"), Age: @user.Age <a href="/Users/Edit?Id=@user.Id">Edit</a> <a href="/Users/Remove?Id=@user.Id">Delete</a>
        </li>
    }
</ul>
<form action="/Users/Add" method="get">
    <input type="text" name="Name" /> <input type="date" name="Birthdate" /> <button type="submit">Add user</button>
</form>
<a href="/Users/GetUsersList">Get users list</a>
