
@{
    ViewBag.Title = "Home";
}

<h2>Users achievements</h2>

<ul>
    <li>@Html.ActionLink("Users", "Index", "Users")</li>
    <li>@Html.ActionLink("Achievements", "Index", "Achievements")</li>
</ul>
